body{
  background-color:#fcac94;
  font-family: monospace;
}

.jumbotron{
  background-color:lightyellow;
  font-family: fantasy;
  max-height:180px;
}

.jumbotron h1{
  color:#ffa496;
  text-shadow: 3px 3px #8e7b76;
  font-size:65px;
  text-align: center;
}

.jumbotron p{
  color:#8e7b76;
  font-weight: bold;
}

#jamie-pic{
  height:200px;
  float:left;
  border:3px dashed lightyellow;
  padding:2px;
  margin-right:5px;
}

.project-list{
  font-weight: bold;
}

a:link{
  color:#fc6439;
}

a:visited{
  color:#8e7b76;
}

a:hover{
  color:lightyellow;
}

ol{
  list-style-type: lower-roman;
  background:#fff2af;
  padding: 8px;
}

ol li{
  background:#fcf5cf;
  padding-left: 5px;
}

ol ul{
  background:#fcf5cf;
}

.resume{
  font-weight: bold;
  color:#5b3d34;
}

#project{
  font-size:30pt;
  text-shadow:1px 1px #8e7b76;
}

#hobby-title{
  font-size:35pt;
}

#hobby{
  font-size:12pt;
}

#email{
font-weight: bold;
font-size:20pt;

}
